@using Common;
@using ServiceProject;
@{
    UserService USer = new UserService();
    var Area = Html.CurrentArea();
    var Conl = Html.CurrentController();
    var Action = Html.CurrentAction();
    var UserName = USer.GetCurrentUserName().UserName;
    var Leve = USer.GetCurrentUserName().RoleName;
    var Son = USer.GetCurrentUserName().SonLeve;
    var SSon = USer.GetCurrentUserName().SSonLeve;
    if (Action != "Index")
    { Conl = Action; }
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title -- 香凝企业信息管理系统</title>
    <link type="text/css" href="~/css/base.css" rel="stylesheet" />
    <link type="text/css" href="~/css/admin.css?v=3" rel="stylesheet" />
    <link type="text/css" href="~/css/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.ui.datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.ui.datepicker-zh-CN.js")"></script>
    
    <script type="text/javascript" src="~/js/comm.js?v=6"></script>
    
    <script type="text/javascript">
        $(function () {
            //先定义dialog
            $("#adddialog").dialog({
                autoOpen: false,
                width: 750,
                height: 620,
                show: 'scale',
                hide: "explode",
                position: "right",
                draggable:true,
            });
            $("#dialog_img").dialog({
                autoOpen: false,
                width: 450,
                height: 300,
                show: 'scale',
                hide: "explode"
            });

            $(":text[ref='datepicker']").datepicker({
                changeYear: true,
                changeMonth: true,
                showButtonPanel: true
            });
            $(".Printbtn").live("click", function () {
                var _this = $(this);
                var Id = _this.attr("ref");
                var PrintUrl = _this.attr("url");
                $.post(PrintUrl, { Id: Id }, function (d) {

                    $("#prhtml").html(d);
                    $("#prhtml").hide();
                    var prnHtml = $("#prhtml").html();
                    //alert(prnHtml);

                    //prnhtmlprnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));

                    window.document.body.innerHTML = prnHtml;
                    window.print();

                });
            });
        });
        if (getExplorer() == "IE") {
            pagesetup_null();
        }
        function pagesetup_null() {
            var hkey_root, hkey_path, hkey_key;
            hkey_root = "HKEY_CURRENT_USER";
            hkey_path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
            try {
                var RegWsh = new ActiveXObject("WScript.Shell");
                hkey_key = "header";
                RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "");
                hkey_key = "footer";
                RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "");
            } catch (e) { }
        }

        function getExplorer() {
            var explorer = window.navigator.userAgent;
            //ie 
            if (explorer.indexOf("MSIE") >= 0) {
                return "IE";
            }
                //firefox 
            else if (explorer.indexOf("Firefox") >= 0) {
                return "Firefox";
            }
                //Chrome
            else if (explorer.indexOf("Chrome") >= 0) {
                return "Chrome";
            }
                //Opera
            else if (explorer.indexOf("Opera") >= 0) {
                return "Opera";
            }
                //Safari
            else if (explorer.indexOf("Safari") >= 0) {
                return "Safari";
            }
        }
    </script>
</head>
<body>
    <div id="prhtml" style="display:none;"></div>
    <div id="adddialog"></div>
    <div id="dialog_img"></div>

    <div class="admintop">
        <div class="adminnav">
            <p class="logotit"><span class="pl10 wh f16">企业信息管理系统</span></p>

            <ul class="menu">
             
                <li @(Conl=="Home"?"class=selected":"")><a href="@Url.Action("Index","Home")"><span>考勤记录</span></a></li>
                @if (Leve.Contains("SYS") || Leve=="All")
                {
                <li @(Conl.Contains("SYS")==true?"class=selected":"")><a href="@Url.Action("Index","SYS")"><span>基础管理</span></a></li>
                    }@if (Leve.Contains("INV") || Leve == "All")
                    {
                <li @(Conl.Contains("INV")==true?"class=selected":"")><a href="@Url.Action("Index","INV")"><span>仓库管理</span></a></li>
                        }@if (Leve.Contains("PO") || Leve == "All")
                        {
                <li @(Conl.Contains("PO")==true?"class=selected":"")><a href="@Url.Action("Index","PO")"><span>采购管理</span></a></li>
                            }@if (Leve.Contains("WIP") || Leve == "All")
                            {
                <li @(Conl.Contains("WIP")==true?"class=selected":"")><a href="@Url.Action("Index","WIP")"><span>生产管理</span></a></li>
                 }
                @if (Leve.Contains("SJ") || Leve == "All")
                {
                <li @(Conl.Contains("SJ")==true?"class=selected":"")><a href="@Url.Action("Index","SJ")"><span>设计管理</span></a></li>
                                    }
                @if (Leve.Contains("CRM") || Leve == "All")
                {
                <li @(Conl.Contains("CRM")==true?"class=selected":"")><a href="@Url.Action("Index","CRM")"><span>销售管理</span></a></li>
                                    }@if (Leve.Contains("HR") || Leve == "All")
                                    {
                <li @(Conl.Contains("HR")==true?"class=selected":"")><a href="@Url.Action("Index","HR")"><span>行政中心</span></a></li>
                                        }@if (Leve.Contains("Finance") || Leve == "All") { 
                <li @(Conl.Contains("Finance") == true ? "class=selected" : "")><a href="@Url.Action("Index","Finance")"><span>财务管理</span></a></li>               
               } @if (Leve.Contains("XT") || Leve == "All")
                                        {
                <li @(Conl.Contains("XT")==true?"class=selected":"")><a href="@Url.Action("Index","XT")"><span>系统管理</span></a></li>
                 }
                
            </ul>

            <p class="user"><span >@UserName</span><a href="@Url.Action("LogOff","Account")" class="red pl20 f14">退出</a></p>
        </div><!--adminnav end-->
    </div><!--admintop end-->
    
    <div class="mainbox">
      @RenderBody()

        <div class="clear"></div>
    </div>
    
    <div id="foot">
        <p class="copyright">版权所有：上海香凝工艺品有限公司 &nbsp;&nbsp;&nbsp;  版本号：V20180506</p>
    </div>
    <script type="text/javascript">
    $(function () {
        var CrrCol = "@Conl" + "_0,";
        var SSonLeve = "@SSon";
        if (!(SSonLeve.indexOf(CrrCol) > -1) && SSonLeve != "All") {
            $(".xTable table").find("col:last-child").remove();
            $(".xTable table").find("th:last-child").remove();
            $(".xTable table").find("tr>td:last-child").remove();
        } 
    });
    </script>
</body>
</html>
