@model ModelProject.SINV_FLModel
@{
    ViewBag.Title = "辅料仓库";
    List<SelectListItem> PSize = new List<SelectListItem>();
    PSize.Add(new SelectListItem { Text = "每页10", Value = "10" });
    PSize.Add(new SelectListItem { Text = "每页20", Value = "20" });
    PSize.Add(new SelectListItem { Text = "每页30", Value = "30" });
    PSize.Add(new SelectListItem { Text = "每页40", Value = "40" });
    PSize.Add(new SelectListItem { Text = "每页80", Value = "80" });
}

<p class="currpoint">
    <a href="@Url.Action("Index","Home")">首页</a>  -> 
    <a href="@Url.Action("Index","PO_KC")">仓库管理</a>  -> 
    <a href="Javascript:void(0)" class="crrtab">辅料管理</a>
</p>

<div class="search">
    <ul class="searchtab"><li class="current">条件搜索</li></ul>
    <div style="clear:both"></div>
    <div class="searchbox clearfix">
        @using (Html.BeginForm("Index", "PO_KC", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form_item">
                <label class="label">所属仓库：</label>
                <div class="form-field">
                   @Html.DropDownListFor(k => k.inventory_id, Model.CKDroList, new { @class="drotext"})
                </div>
            </div>
            <div class="form_item">
                <label class="label">辅料名称：</label>
                <div class="form-field">
                    @Html.TextBoxFor(k => k.accessoryname, new {@class="inputtext" })
                    @Html.HiddenFor(k=>k.accessory_type_id)
                    

                   @*@Html.DropDownListFor(k => k.accessory_type_id, Model.FLZLDroList, new { @class="drotext"})*@
                </div>
            </div>
            <div class="form_item">
			    <label class="label">每页显示：</label>
			    <div class="form-field">
                   @Html.DropDownListFor(k => k.PageSize, PSize, new { @class="drotext"})
			    </div>
		    </div>
            <div class="clear"></div>
            <div class="form-item-submit">
                <input type="submit" value="提交" class="inputsubbtn fr mb20 mr20" style="width:100px;" />
                @*<a href="#" class="submitbtn fr mb20 mr20" style="width:100px;">提交</a>*@
            </div>
        }
    </div>
</div><!--search end -->

<div class="mod">
    <div class="hd">
        <h2>搜索结果</h2>
        <ul class="filter">
            <li class="toExcelout"><a class="btn bg-red" href="javascript:void(0)"><span class="wh">导出表格</span></a></li>
        </ul>
    </div>
</div>

<div id="ResultList" class="xTable">
   @Html.Action("PageList", "PO_KC", new { SRmodels=Model})
</div>

<script type="text/javascript">
    var Arritem = "";
    var newJson = [];
    $("#accessoryname").autocomplete({
        source: '@Url.Action("GetCKAutoLiat","PO_KC")',
        minLength: 1,
        select: function (event, ui) {
            $(":hidden[name='accessory_type_id']").val(ui.item.Id);
            //$(":text[name='UserName']").val(ui.item.name);
            //$(":text[name='EMail']").val(ui.item.email);
            //$(":text[name='Department']").val(ui.item.catagory);
            //$(":text[name='UserCenterID']").val(ui.item.usercenterid);
            //$(":hidden[name='Password']").val(ui.item.password);
        }
    });
    $(".toExcelout").click(function () {
        var inventory_id = $("#inventory_id").val();
        var accessory_type_id = $("#accessory_type_id").val();
       
        var ExcelUrl = '@Url.Action("ToExcelOut","PO_KC")';
        window.location.href = "/PO_KC/ToExcelOut?inventory_id=" + inventory_id + '&accessory_type_id=' + accessory_type_id;
        //$.post(ExcelUrl, {}, function (d) { });
    });
</script>