@model ModelProject.SINV_FLZLModel
@{
    ViewBag.Title = "辅料种类管理";
}

<p class="currpoint">
    <a href="@Url.Action("Index","Home")">首页</a>  -> 
    <a href="@Url.Action("Index","INV")">仓库管理</a>  -> 
    <a href="Javascript:void(0)" class="crrtab">辅料种类管理</a>
</p>

<div class="search">
    <ul class="searchtab"><li class="current">条件搜索</li></ul>
    <div style="clear:both"></div>
    <div class="searchbox clearfix">
        @using (Html.BeginForm("Index", "INV_FLZL", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form_item">
                <label class="label">所属大类：</label>
                <div class="form-field">
                    @Html.DropDownListFor(k => k.catalogId, Model.catalogDroList, new { @class = "drotext" })
                </div>
            </div>
            <div class="form_item">
                <label class="label">名称：</label>
                <div class="form-field">
                    @Html.TextBoxFor(k => k.name, new { @class = "inputtext", @placeholder = "请输入查询名称" })
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-item-submit">
                <a href="#" class="submitbtn fr mb20 mr20" style="width:100px;">提交</a>
            </div>
        }
    </div>
</div><!--search end -->

<div class="mod">
    <div class="hd">
        <h2>搜索结果</h2>
        <ul class="filter">
            <li class="adddialog" url="@Url.Action("Add","INV_FLZL")" title="新增" ref="0"><a class="btn bg-green" href="javascript:void(0)"><span class="wh">增加</span></a></li>
            <li><a class="selectAll btn bg-orange" href="javascript:void(0)"><span class="wh">全选</span></a></li>
            <li><a class="unSelect btn bg-orange" href="javascript:void(0)"><span class="wh">全不选</span></a></li>
            <li><a class="delSelect btn bg-orange" href="javascript:void(0)" url="@Url.Action("DeleteMore","INV_FLZL")" ><span class="wh">删除选中</span></a></li>
        </ul>
    </div>
</div>

<div id="ResultList" class="xTable">
   @Html.Action("PageList", "INV_FLZL", new { SRmodels=Model})
</div>