@model ModelProject.SWIP_WOModel
@{
    ViewBag.Title = "销售生产任务管理";
    List<SelectListItem> LItem = new List<SelectListItem>();
    LItem.Add(new SelectListItem { Value = "", Text = "全部工单" });
    LItem.Add(new SelectListItem { Value = "0", Text = "已开工单" });
    LItem.Add(new SelectListItem { Value = "1", Text = "图纸料单就绪" });
    LItem.Add(new SelectListItem { Value = "2", Text = "图纸料单确认" });
    LItem.Add(new SelectListItem { Value = "3", Text = "开料完成" });
    LItem.Add(new SelectListItem { Value = "4", Text = "雕花完成" });
    LItem.Add(new SelectListItem { Value = "5", Text = "木工完成" });
    LItem.Add(new SelectListItem { Value = "6", Text = "刮磨完成" });
    LItem.Add(new SelectListItem { Value = "7", Text = "油漆完成" });
    LItem.Add(new SelectListItem { Value = "8", Text = "配件安装完成" });

    List<SelectListItem> PSize = new List<SelectListItem>();
    PSize.Add(new SelectListItem { Text = "每页10", Value = "10" });
    PSize.Add(new SelectListItem { Text = "每页20", Value = "20" });
    PSize.Add(new SelectListItem { Text = "每页30", Value = "30" });
    PSize.Add(new SelectListItem { Text = "每页40", Value = "40" });
    PSize.Add(new SelectListItem { Text = "每页80", Value = "80" });
}

<p class="currpoint">
    <a href="@Url.Action("Index","Home")">首页</a>  -> 
    <a href="@Url.Action("Index","WIP")">生产管理</a>  -> 
    <a href="Javascript:void(0)" class="crrtab">销售生产任务管理</a>
</p>

<div class="search">
    <ul class="searchtab"><li class="current">条件搜索</li></ul>
    <div style="clear:both"></div>
    <div class="searchbox clearfix">
        @using (Html.BeginForm("WIP_WorkOrder", "WIP", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form_item">
                <label class="label">合同编号：</label>
                <div class="form-field">
                   @Html.TextBoxFor(k => k.HTSN,  new { @class="inputtext"})
                </div>
            </div>
            <div class="form_item">
                <label class="label">订货人：</label>
                <div class="form-field">
                   @Html.TextBoxFor(k => k.SaleName,  new { @class="inputtext"})
                </div>
            </div>
            <div class="form_item">
                <label class="label">生产进度：</label>
                <div class="form-field">
                   @Html.DropDownListFor(k => k.status, LItem, new { @class="inputtext"})
                </div>
            </div>
            <div class="form_item">
			    <label class="label">每页显示：</label>
			    <div class="form-field">
                   @Html.DropDownListFor(k => k.PageSize, PSize, new { @class="drotext"})
			    </div>
		    </div>
            <div class="clear"></div>
            <div class="form-item-submit">
                <input type="submit" value="提交" class="inputsubbtn fr mb20 mr20" style="width:100px;" />
            </div>
        }
    </div>
</div><!--search end -->

<div class="mod">
    <div class="hd">
        <h2>搜索结果</h2>
        <ul class="filter">
            <li><a class="selectAll btn bg-orange" href="javascript:void(0)"><span class="wh">全选</span></a></li>
            <li><a class="unSelect btn bg-orange" href="javascript:void(0)"><span class="wh">全不选</span></a></li>

        </ul>
    </div>
</div>

<div id="ResultList" class="xTable">
   @Html.Action("PageList", "WIP", new { SRmodels=Model})
</div>