@using MvcPager.WebControls.Mvc;
@model PagedList<ModelProject.SaleSerModel>
@{ 
    Layout = null;
    var SModel = ViewBag.SModel;
    string[] Arr = { "未付款","已付预付款","已付全款"};
  }

@if(Model!=null && Model.Any())
{
    <table>
        <col width="70px" />
        <col width="80px" />
        <col width="100px" />
        <col width="100px" />
        <col width="120px" />
        <col width="120px" />
        <col width="260px" />
        <col />
        <col width="160px" />
        <tr class="fb">
            <th>选择</th>
            <th>报修人</th>
            <th>单号</th>
            <th>维修日期</th>
            <th>收费情况</th>
            <th>操作日期</th>
            <th>联系地址</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" name="listcheck" class="listcheck" value="@item.Id" /></td>
                <td>@item.Customer</td>
                <td>@item.SN</td>
                <td>@Convert.ToDateTime(item.GoHomeDate).ToString("yyyy-MM-dd")</td>
                <td><div class="tw">@item.SFState @(item.Amount>0?"("+item.Amount+")":"")</div></td>
                <td>@Convert.ToDateTime(item.CreateTime).ToString("yyyy-MM-dd HH:mm")</td>
                <td style="text-align:left;"><div class="tw" title="@item.LinkAddress">@item.LinkAddress</div></td>
                <td style="text-align:left;"><div class="tw" title="@item.Remark">@item.Remark</div></td>
                <td>
                    @if (item.status == null || item.status != 1)
                    {
                        <a href="javascript:void(0)" class="checked" ref="@item.Id" url="@Url.Action("Checked", "CRM_SaleService")">审核</a>
                        <a href="javascript:void(0)" class="editbtn" title="添加产品" url="@Url.Action("AddPro", "CRM_SaleService")" ref="@item.Id">添加产品</a>
                        <a href="javascript:void(0)" class="delone" ref="@item.Id" url="@Url.Action("Delete", "CRM_SaleService")">删除</a>
                    }
                    <a href="javascript:void(0)" class="editbtn" title="查看产品" url="@Url.Action("ProPageList", "CRM_SaleService")" ref="@item.Id">查看产品</a>
                    <a href="javascript:void(0)" class="editbtn" title="打印合同" url="@Url.Action("Print", "CRM_SaleService")" ref="@item.Id">打印服务单</a>
                </td>
            </tr>
        }
    </table>
    <div class="pagelist">
        <div class="pages">
            @Html.AjaxPager(Model, new {SN=SModel.SN,Customer=SModel.Customer,StartTime=SModel.StartTime,EndTime=SModel.EndTime}, "PageList", "CRM_SaleService",new PagerOptions
            {
                PageIndexParameterName = "PageIndex",
                CurrentPagerItemWrapperFormatString = "<li><a href=\"javascript:void(0);\" class=\"selected\">{0}</a></li>",
                NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                MorePagerItemWrapperFormatString = "<li>{0}</li>",
                NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                ShowFirstLast = true,
            }, new AjaxOptions { UpdateTargetId = "ResultList" })
            <div class="total ZL">共@(Model.TotalItemCount) 条记录，每页@(Model.PageSize)，当前@(Model.CurrentPageIndex) / @(Model.TotalPageCount)</div>
        </div>
    </div>
}
else{<p>暂无内容！</p>}
