@model ModelProject.OnlyboardModel
@{
    Layout = null;
}

<div class="addmain">
 @using (Html.BeginForm("Add", "INV_DB", FormMethod.Post, new { @class = "form mt20" }))
    { 
     @Html.HiddenFor(k=>k.id)
    <div class="mod normal">
		@*<div class="hd">
			<h2>独板基本信息</h2>
		</div>*@
        <div class="item">
			<label class="label"><em>*</em>所属仓库：</label>
			<div class="form-field">
                @Html.DropDownListFor(k=>k.inventory_id,Model.CKDroList,new{@style="width:230px;",@class="drotext"})
			</div>
		</div>
		<div class="item">
			<label class="label"><em>*</em>独板长：</label>
			<div class="form-field">
                @Html.TextBoxFor(k=>k.length,new{@style="width:230px;",@class="number inputtext"})
                <span class="red">单位：MM</span>
			</div>
		</div>
       <div class="item">
            <label class="label"><em>*</em>独板宽：</label>
            <div class="form-field">
                @Html.TextBoxFor(k => k.width,new{@style="width:230px;",@class="number inputtext"})
                <span class="red">单位：MM</span>
            </div>
        </div>
        <div class="item">
			<label class="label"><em>*</em>独板高：</label>
			<div class="form-field">
                @Html.TextBoxFor(k=>k.height,new{style="width:230px;",@class="inputtext number"})
                <span class="red">单位：MM</span>
			</div>
		</div>
        <div class="item">
            <label class="label"><em>*</em>所属材质：</label>
            <div class="form-field">
                @Html.DropDownListFor(k => k.Wood_typeId, Model.MCDroList, new { @class = "drotext" })
            </div>
        </div>
        <div class="item">
            <label class="label"><em>*</em>数量：</label>
            <div class="form-field">
                @Html.TextBoxFor(k => k.qty, new { style = "width:230px;", @class = "inputtext" })
            </div>
        </div>
        <div class="item">
			<label class="label"><em>*</em>独板价格：</label>
			<div class="form-field">
                @Html.TextBoxFor(k=>k.price,new{style="width:230px;",@class="inputtext number"})
                <span class="red">单位：元</span>
			</div>
		</div>
        <div class="item">
			<label class="label"><em>*</em>独板重量：</label>
			<div class="form-field">
                @Html.TextBoxFor(k=>k.weight,new{style="width:230px;",@class="inputtext"})
                <span class="red">备注：请写上单位，例如：0.3KG</span>
			</div>
		</div>
        <div class="item">
			<label class="label">备注说明：</label>
			<div class="form-field">
                @Html.TextAreaFor(k=>k.remark,new{style="width:430px;height:100px;",@class="inputtext"})
				@Html.ValidationMessageFor(k=>k.remark)
			</div>
		</div>
        <div class="item">
			<label class="label">&nbsp;</label>
			<div class="form-field">
                <a href="javascript:void(0)" class="submitbtn mt10" style="width:140px;">提交</a>
			</div>
		</div>
        <div class="clear"></div>
	</div>
 }

</div>

<script type="text/javascript">
    $(".submitbtn").click(function () {
        $(".form").submit();

    });

    //限制只能输入数字
    $(".number").keyup(function () {  //keyup事件处理 
        $(this).val($(this).val().replace(/\D|^0/g, ''));
    }).bind("paste", function () {  //CTR+V事件处理 
        $(this).val($(this).val().replace(/\D|^0/g, ''));
    }).css("number", "disabled");  //CSS设置输入法不可用
</script>
