@model ModelProject.SHRModel
@{
    ViewBag.Title = "薪资管理";
    List<SelectListItem> YGItem = new List<SelectListItem>();
    YGItem.Add(new SelectListItem { Value = "-1", Text = "全部" });
    YGItem.Add(new SelectListItem { Value = "0", Text = "包工" });
    YGItem.Add(new SelectListItem { Value = "1", Text = "点工" });
    List<SelectListItem> SBItem = new List<SelectListItem>();
    SBItem.Add(new SelectListItem { Value = "", Text = "全部" });
    SBItem.Add(new SelectListItem { Value = "未办理", Text = "未办理" });
    SBItem.Add(new SelectListItem { Value = "已办理", Text = "已办理" });
    List<SelectListItem> ZZItem = new List<SelectListItem>();
    ZZItem.Add(new SelectListItem { Value = "-1", Text = "全部" });
    ZZItem.Add(new SelectListItem { Value = "2", Text = "离职" });
    ZZItem.Add(new SelectListItem { Value = "1", Text = "在职" });
}

<p class="currpoint">
    <a href="@Url.Action("Index","Home")">首页</a>  -> 
    <a href="@Url.Action("Index","HR")">行政中心</a>  -> 
    <a href="Javascript:void(0)" class="crrtab">薪资管理</a>
</p>

<div class="search">
    <ul class="searchtab"><li class="current">条件搜索</li></ul>
    <div style="clear:both"></div>
    <div class="searchbox clearfix">
        @using (Html.BeginForm("Index", "HR_SB", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form_item">
                <label class="label">姓名：</label>
                <div class="form-field">
                   @Html.TextBoxFor(k => k.userName,  new { @class="inputtext"})
                </div>
            </div>
            <div class="form_item">
                <label class="label">用工性质：</label>
                <div class="form-field">
                   @Html.DropDownListFor(k => k.salary_type, YGItem, new { @class="inputtext"})
                </div>
            </div>
            <div class="form_item">
                <label class="label">社保状态：</label>
                <div class="form-field">
                   @Html.DropDownListFor(k => k.socialsecurity,SBItem,  new { @class="inputtext"})
                </div>
            </div>
            <div class="form_item">
                <label class="label">状态：</label>
                <div class="form-field">
                   @Html.DropDownListFor(k => k.status,ZZItem,  new { @class="inputtext"})
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-item-submit">
                <input type="submit" value="提交" class="inputsubbtn fr mb20 mr20" style="width:100px;"/>
            </div>
        }
    </div>
</div><!--search end -->

@*<div class="mod">
    <div class="hd">
        <h2>搜索结果</h2>
        <ul class="filter">
            <li class="adddialog" url="@Url.Action("Add","HR_SB")" title="新增" ref="0"><a class="btn bg-green" href="javascript:void(0)"><span class="wh">增加</span></a></li>
            <li><a class="selectAll btn bg-orange" href="javascript:void(0)"><span class="wh">全选</span></a></li>
            <li><a class="unSelect btn bg-orange" href="javascript:void(0)"><span class="wh">全不选</span></a></li>
            <li><a class="delSelect btn bg-orange" href="javascript:void(0)" url="@Url.Action("DeleteMore","HR_SB")" ><span class="wh">删除选中</span></a></li>
        </ul>
    </div>
</div>*@

<div id="ResultList" class="xTable">
   @Html.Action("PageList", "HR_SB", new { SRmodels=Model})
</div>


<script type="text/javascript">
    
</script>